@using Greenlight.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/style.min.css")
    @Styles.Render("~/Content/font-awesome-4.4.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/layout.css")
    @Styles.Render("~/Content/pages.css")
   

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/apps.min.js")
    @Scripts.Render("~/Scripts/rivets.bundled.min.js");
    @Scripts.Render("~/Scripts/lodash.js")
    @Scripts.Render("~/Scripts/bootbox.min.js")
    @Scripts.Render("~/Scripts/customPrompt.js")
    @Scripts.Render("~/Scripts/layout.js")
    @Scripts.Render("~/Scripts/pages.js")
</head>

    <body>
        @{
            var company = HttpContext.Current.Session["currentcompany"] as Company;
            var base64 = company.LogoBytes == null ? null : Convert.ToBase64String(company.LogoBytes);
            var imgsrc = base64 == null ? "" : String.Format("data:image/png;base64,{0}", base64);
            var currentUserRole = HttpContext.Current.Session["role"].ToString();
        }

        <div class="body-div">
            <div id="page-container" class="fade page-container page-sidebar-fixed page-header-fixed">
                <div id="header" class="header navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <img class="logo navbar-brand" src="/Content/images/Greenlight Logo White.png"  />
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown navbar-user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @Html.Encode(User.Identity.Name)<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Sign Out", "Logout", "User")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="sidebar" class="sidebar" style="height: 100%">
                    <div class="slimScrollDiv" style="height: 100%">
                        <div style="overflow: auto; width: auto; height: 100%">
                            <ul id="navMenu" class="nav" style="margin-top: 10px;margin-bottom: 25px;">
                                <li id="homeLink">
                                    <a href="@Url.Content("~/home/")">
                                        <i class="fa fa-home fa-2x"></i>
                                        <span class="">Home</span>
                                    </a>
                                </li>
                                <li id="captureLink" style="display: @(currentUserRole == "Management" || currentUserRole == "Administrator" ? "inline":"none")">
                                    <a href="@Url.Content("~/capture/")">
                                        <i class="fa fa-upload fa-2x"></i>
                                        <span class="">Capture Data</span>
                                    </a>
                                </li>
                                <li id="viewDataLink" class="has-sub">
                                    <a href="#">
                                        <b class="caret pull-right"></b>
                                        <i class="fa fa-search fa-2x test"></i>
                                        <span>View and Manage</span>
                                    </a>
                                    <ul class="sub-menu" style="">
                                        <li id="view" style="display: @(currentUserRole == "Management" || currentUserRole == "Reporter" || currentUserRole == "Consumer" ? "inline" : "none")"><a href="@Url.Content("~/viewdata/")">View Data</a></li>
                                        <li id="manage" style="display: @(currentUserRole == "Management" || currentUserRole == "Reporter" ? "inline" : "none")"><a href="@Url.Content("~/viewdata/settings/")">Settings</a></li>

                                    </ul>
                                </li>
                                <li id="correctDataLink" style="display: @(currentUserRole == "Management" || currentUserRole == "Reporter" ? "inline" : "none")">
                                    <a href="@Url.Content("~/correctdata/")">
                                        <i class="fa fa-pencil fa-2x"></i>
                                        <span class="">Correct Data</span>
                                    </a>
                                </li>
                                <li id="convertToXmlLink" style="display: @(currentUserRole == "Management" || currentUserRole == "Reporter" ? "inline" : "none")">
                                    <a href="#">
                                        <i class="fa fa-code fa-2x"></i>
                                        <span class="">Convert To XML</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-area-chart fa-2x"></i>
                                        <span class="">View Reports</span>
                                    </a>
                                </li>
                                <li style="display: @(currentUserRole == "Management" || currentUserRole == "Reporter" ? "inline" : "none")">
                                    <a href="#">
                                        <i class="fa fa-line-chart fa-2x"></i>
                                        <span class="">Custom Reports</span>
                                    </a>
                                </li>
                                <li id="adminLink" class="has-sub">
                                    <a href="#">
                                        <b class="caret pull-right"></b>
                                        <i class="fa fa-wrench fa-2x test"></i>
                                        <span>Administration</span>
                                    </a>
                                    <ul class="sub-menu" style="">
                                        <li id="company" style="display: @(currentUserRole == "Management" || currentUserRole == "Administrator" ? "inline" : "none")"><a href="@Url.Content("~/administration/company")">Company Information</a></li>
                                        <li id="users" style="display: @(currentUserRole == "Management" || currentUserRole == "Administrator" ? "inline" : "none")"><a href="@Url.Content("~/administration/users/")">Users</a></li>
                                        <li id="analyze" style="display: @(currentUserRole == "Management" || currentUserRole == "Reporter" ? "inline" : "none")"><a href="@Url.Content("~/administration/analyze/")">Analyze Data</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="logo-div-container">
                                <div class="logodiv" style="background: white url(@imgsrc) no-repeat 50% 50%; background-size: contain">
@*                                    <img src="@imgsrc" style="width: auto; height: 50px" />*@
                                </div>    
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                    @RenderBody()
                </div>
            </div>
            @RenderSection("scripts", required: false)
        </div>
    </body>
</html>
    